In [1]:
import pandas as pd
import numpy as np

In [2]:
ptd1 = pd.read_csv('part_01.csv')
ptd2 = pd.read_csv('part_02.csv')
ptd3 = pd.read_csv('part_03.csv')
ptd4 = pd.read_csv('part_04.csv')
ptd5 = pd.read_csv('part_05.csv')
ptd6 = pd.read_csv('part_06.csv')
ptd7 = pd.read_csv('part_07.csv')
ptd8 = pd.read_csv('part_08.csv')
ptd9 = pd.read_csv('part_09.csv')
ptd10 = pd.read_csv('part_10.csv')
ptd11 = pd.read_csv('part_11.csv')
ptd12 = pd.read_csv('part_12.csv')

ptd1['ID'].unique

<bound method Series.unique of 0         358628
1         528730
2         160451
3         210467
4         292486
           ...
177590    436199
177591    302713
177592    388457
177593    364908
177594    278117
Name: ID, Length: 177595, dtype: int64>

In [3]:
gtd1 = pd.concat([ptd5, ptd12], ignore_index=True)
gtd2 = pd.concat([ptd6, ptd10], ignore_index=True)
gtd3 = pd.concat([ptd2, ptd11], ignore_index=True)
gtd4 = pd.concat([ptd1, ptd9], ignore_index=True)
gtd5 = pd.concat([ptd3, ptd8], ignore_index=True)
gtd6 = pd.concat([ptd4, ptd7], ignore_index=True)

In [4]:
final_dataset = gtd1.merge(gtd2, left_on='ID', right_on='ID')
final_dataset = final_dataset.merge(gtd3, left_on='ID', right_on='ID')
final_dataset = final_dataset.merge(gtd4, left_on='ID', right_on='ID')
final_dataset = final_dataset.merge(gtd5, left_on='ID', right_on='ID')
final_dataset = final_dataset.merge(gtd6, left_on='ID', right_on='ID')
final_dataset = final_dataset.sort_values(by='ID')
final_dataset

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
179094,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,K01,0
5351,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
206996,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
145569,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,K01,0
329776,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352062,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
255813,590823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,0,0,104,0
233095,590825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,0,0,K01,0
353508,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,O01,0
330689,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,SISTER,0,0,0,0,1,0,K01,1

In [5]:
final_dataset = final_dataset.drop_duplicates(keep= False)

In [6]:
final_dataset.sort_values(by='ID')

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
179094,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,K01,0
5351,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
206996,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
145569,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,K01,0
329776,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352062,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
255813,590823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,0,0,104,0
233095,590825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,0,0,K01,0
353508,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,O01,0
330689,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,SISTER,0,0,0,0,1,0,K01,1

In [7]:
final_dataset.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 355190 entries, 179094 to 330689
Data columns (total 116 columns):
 #    Column                       Dtype
---   ------                       -----
 0    ID                           int64
 1    CNT_ACCEPTS_MTP              float64
 2    CNT_ACCEPTS_TK               float64
 3    PRC_ACCEPTS_A_AMOBILE        float64
 4    PRC_ACCEPTS_A_ATM            float64
 5    PRC_ACCEPTS_A_EMAIL_LINK     float64
 6    PRC_ACCEPTS_A_MTP            float64
 7    PRC_ACCEPTS_A_POS            float64
 8    PRC_ACCEPTS_A_TK             float64
 9    PRC_ACCEPTS_MTP              float64
 10   PRC_ACCEPTS_TK               float64
 11   REST_AVG_CUR                 float64
 12   REST_AVG_PAYM                float64
 13   REST_DYNAMIC_CC_1M           float64
 14   REST_DYNAMIC_CC_3M           float64
 15   REST_DYNAMIC_CUR_1M          float64
 16   REST_DYNAMIC_CUR_3M          float64
 17   REST_DYNAMIC_FDEP_1M         float64
 18   REST_DYNAMIC_FDEP_3M         float64
 19   REST_DYNAMIC_IL_1M           float64
 20   REST_DYNAMIC_IL_3M           float64
 21   REST_DYNAMIC_PAYM_1M         float64
 22   REST_DYNAMIC_PAYM_3M         float64
 23   REST_DYNAMIC_SAVE_3M         float64
 24   TURNOVER_CC                  float64
 25   TURNOVER_DYNAMIC_CC_1M       float64
 26   TURNOVER_DYNAMIC_CC_3M       float64
 27   TURNOVER_DYNAMIC_CUR_1M      float64
 28   TURNOVER_DYNAMIC_CUR_3M      float64
 29   TURNOVER_DYNAMIC_IL_1M       float64
 30   TURNOVER_DYNAMIC_IL_3M       float64
 31   TURNOVER_DYNAMIC_PAYM_1M     float64
 32   TURNOVER_DYNAMIC_PAYM_3M     float64
 33   TURNOVER_PAYM                float64
 34   AGE                          int64
 35   APP_CAR                      object
 36   APP_COMP_TYPE                object
 37   APP_DRIVING_LICENSE          object
 38   APP_EDUCATION                object
 39   APP_EMP_TYPE                 object
 40   APP_KIND_OF_PROP_HABITATION  object
 41   APP_MARITAL_STATUS           object
 42   APP_POSITION_TYPE            object
 43   APP_REGISTR_RGN_CODE         float64
 44   APP_TRAVEL_PASS              object
 45   AMOUNT_RUB_ATM_PRC           float64
 46   AMOUNT_RUB_CLO_PRC           float64
 47   AMOUNT_RUB_NAS_PRC           float64
 48   AMOUNT_RUB_SUP_PRC           float64
 49   CNT_TRAN_ATM_TENDENCY1M      float64
 50   CNT_TRAN_ATM_TENDENCY3M      float64
 51   CNT_TRAN_AUT_TENDENCY1M      float64
 52   CNT_TRAN_AUT_TENDENCY3M      float64
 53   CNT_TRAN_CLO_TENDENCY1M      float64
 54   CNT_TRAN_CLO_TENDENCY3M      float64
 55   CNT_TRAN_MED_TENDENCY1M      float64
 56   CNT_TRAN_MED_TENDENCY3M      float64
 57   CNT_TRAN_SUP_TENDENCY1M      float64
 58   CNT_TRAN_SUP_TENDENCY3M      float64
 59   SUM_TRAN_ATM_TENDENCY1M      float64
 60   SUM_TRAN_ATM_TENDENCY3M      float64
 61   SUM_TRAN_AUT_TENDENCY1M      float64
 62   SUM_TRAN_AUT_TENDENCY3M      float64
 63   SUM_TRAN_CLO_TENDENCY1M      float64
 64   SUM_TRAN_CLO_TENDENCY3M      float64
 65   SUM_TRAN_MED_TENDENCY1M      float64
 66   SUM_TRAN_MED_TENDENCY3M      float64
 67   SUM_TRAN_SUP_TENDENCY1M      float64
 68   SUM_TRAN_SUP_TENDENCY3M      float64
 69   TRANS_AMOUNT_TENDENCY3M      float64
 70   TRANS_CNT_TENDENCY3M         float64
 71   TRANS_COUNT_ATM_PRC          float64
 72   TRANS_COUNT_NAS_PRC          float64
 73   TRANS_COUNT_SUP_PRC          float64
 74   AVG_PCT_DEBT_TO_DEAL_AMT     float64
 75   AVG_PCT_MONTH_TO_PCLOSE      float64
 76   DEAL_GRACE_DAYS_ACC_AVG      float64
 77   DEAL_GRACE_DAYS_ACC_MAX      float64
 78   DEAL_GRACE_DAYS_ACC_S1X1     float64
 79   DEAL_YQZ_IR_MAX              float64
 80   DEAL_YQZ_IR_MIN              float64
 81   DEAL_YWZ_IR_MAX              float64
 82   DEAL_YWZ_IR_MIN              float64
 83   LDEAL_ACT_DAYS_ACC_PCT_AVG   float64
 84   LDEAL_ACT_DAYS_PCT_AAVG      float64
 85   LDEAL_ACT_DAYS_PCT_CURR      float64
 86   LDEAL_ACT_DAYS_PCT_TR        float64
 87   LDEAL_ACT_DAYS_PCT_TR3       float64
 88   LDEAL_ACT_DAYS_PCT_TR4       float64
 89   LDEAL_AMT_MONTH              float64
 90   LDEAL_DELINQ_PER_MAXYQZ      float64
 91   LDEAL_DELINQ_PER_MAXYWZ      float64
 92   LDEAL_GRACE_DAYS_PCT_MED     float64
 93   LDEAL_TENOR_MAX              float64
 94   LDEAL_TENOR_MIN              float64
 95   LDEAL_USED_AMT_AVG_YQZ       float64
 96   LDEAL_USED_AMT_AVG_YWZ       float64
 97   LDEAL_YQZ_CHRG               float64
 98   LDEAL_YQZ_COM                float64
 99   LDEAL_YQZ_PC                 float64
 100  MAX_PCLOSE_DATE              float64
 101  MED_DEBT_PRC_YQZ             float64
 102  MED_DEBT_PRC_YWZ             float64
 103  CLNT_JOB_POSITION            object
 104  CLNT_JOB_POSITION_TYPE       object
 105  CLNT_SALARY_VALUE            float64
 106  CLNT_SETUP_TENOR             float64
 107  CLNT_TRUST_RELATION          object
 108  CR_PROD_CNT_CC               int64
 109  CR_PROD_CNT_CCFP             int64
 110  CR_PROD_CNT_IL               int64
 111  CR_PROD_CNT_PIL              int64
 112  CR_PROD_CNT_TOVR             int64
 113  CR_PROD_CNT_VCU              int64
 114  PACK                         object
 115  TARGET                       int64
dtypes: float64(94), int64(9), object(13)
memory usage: 317.1+ MB

In [8]:
list(final_dataset.APP_COMP_TYPE.unique())

[nan, 'PRIVATE', 'STATE', 'IP', 'INTER']

In [9]:

collumns = []
for i in final_dataset:
  collumns.append(i)
collumns

['ID',
 'CNT_ACCEPTS_MTP',
 'CNT_ACCEPTS_TK',
 'PRC_ACCEPTS_A_AMOBILE',
 'PRC_ACCEPTS_A_ATM',
 'PRC_ACCEPTS_A_EMAIL_LINK',
 'PRC_ACCEPTS_A_MTP',
 'PRC_ACCEPTS_A_POS',
 'PRC_ACCEPTS_A_TK',
 'PRC_ACCEPTS_MTP',
 'PRC_ACCEPTS_TK',
 'REST_AVG_CUR',
 'REST_AVG_PAYM',
 'REST_DYNAMIC_CC_1M',
 'REST_DYNAMIC_CC_3M',
 'REST_DYNAMIC_CUR_1M',
 'REST_DYNAMIC_CUR_3M',
 'REST_DYNAMIC_FDEP_1M',
 'REST_DYNAMIC_FDEP_3M',
 'REST_DYNAMIC_IL_1M',
 'REST_DYNAMIC_IL_3M',
 'REST_DYNAMIC_PAYM_1M',
 'REST_DYNAMIC_PAYM_3M',
 'REST_DYNAMIC_SAVE_3M',
 'TURNOVER_CC',
 'TURNOVER_DYNAMIC_CC_1M',
 'TURNOVER_DYNAMIC_CC_3M',
 'TURNOVER_DYNAMIC_CUR_1M',
 'TURNOVER_DYNAMIC_CUR_3M',
 'TURNOVER_DYNAMIC_IL_1M',
 'TURNOVER_DYNAMIC_IL_3M',
 'TURNOVER_DYNAMIC_PAYM_1M',
 'TURNOVER_DYNAMIC_PAYM_3M',
 'TURNOVER_PAYM',
 'AGE',
 'APP_CAR',
 'APP_COMP_TYPE',
 'APP_DRIVING_LICENSE',
 'APP_EDUCATION',
 'APP_EMP_TYPE',
 'APP_KIND_OF_PROP_HABITATION',
 'APP_MARITAL_STATUS',
 'APP_POSITION_TYPE',
 'APP_REGISTR_RGN_CODE',
 'APP_TRAVEL_PASS',
 'AMOUNT_RUB_ATM_PRC',
 'AMOUNT_RUB_CLO_PRC',
 'AMOUNT_RUB_NAS_PRC',
 'AMOUNT_RUB_SUP_PRC',
 'CNT_TRAN_ATM_TENDENCY1M',
 'CNT_TRAN_ATM_TENDENCY3M',
 'CNT_TRAN_AUT_TENDENCY1M',
 'CNT_TRAN_AUT_TENDENCY3M',
 'CNT_TRAN_CLO_TENDENCY1M',
 'CNT_TRAN_CLO_TENDENCY3M',
 'CNT_TRAN_MED_TENDENCY1M',
 'CNT_TRAN_MED_TENDENCY3M',
 'CNT_TRAN_SUP_TENDENCY1M',
 'CNT_TRAN_SUP_TENDENCY3M',
 'SUM_TRAN_ATM_TENDENCY1M',
 'SUM_TRAN_ATM_TENDENCY3M',
 'SUM_TRAN_AUT_TENDENCY1M',
 'SUM_TRAN_AUT_TENDENCY3M',
 'SUM_TRAN_CLO_TENDENCY1M',
 'SUM_TRAN_CLO_TENDENCY3M',
 'SUM_TRAN_MED_TENDENCY1M',
 'SUM_TRAN_MED_TENDENCY3M',
 'SUM_TRAN_SUP_TENDENCY1M',
 'SUM_TRAN_SUP_TENDENCY3M',
 'TRANS_AMOUNT_TENDENCY3M',
 'TRANS_CNT_TENDENCY3M',
 'TRANS_COUNT_ATM_PRC',
 'TRANS_COUNT_NAS_PRC',
 'TRANS_COUNT_SUP_PRC',
 'AVG_PCT_DEBT_TO_DEAL_AMT',
 'AVG_PCT_MONTH_TO_PCLOSE',
 'DEAL_GRACE_DAYS_ACC_AVG',
 'DEAL_GRACE_DAYS_ACC_MAX',
 'DEAL_GRACE_DAYS_ACC_S1X1',
 'DEAL_YQZ_IR_MAX',
 'DEAL_YQZ_IR_MIN',
 'DEAL_YWZ_IR_MAX',
 'DEAL_YWZ_IR_MIN',
 'LDEAL_ACT_DAYS_ACC_PCT_AVG',
 'LDEAL_ACT_DAYS_PCT_AAVG',
 'LDEAL_ACT_DAYS_PCT_CURR',
 'LDEAL_ACT_DAYS_PCT_TR',
 'LDEAL_ACT_DAYS_PCT_TR3',
 'LDEAL_ACT_DAYS_PCT_TR4',
 'LDEAL_AMT_MONTH',
 'LDEAL_DELINQ_PER_MAXYQZ',
 'LDEAL_DELINQ_PER_MAXYWZ',
 'LDEAL_GRACE_DAYS_PCT_MED',
 'LDEAL_TENOR_MAX',
 'LDEAL_TENOR_MIN',
 'LDEAL_USED_AMT_AVG_YQZ',
 'LDEAL_USED_AMT_AVG_YWZ',
 'LDEAL_YQZ_CHRG',
 'LDEAL_YQZ_COM',
 'LDEAL_YQZ_PC',
 'MAX_PCLOSE_DATE',
 'MED_DEBT_PRC_YQZ',
 'MED_DEBT_PRC_YWZ',
 'CLNT_JOB_POSITION',
 'CLNT_JOB_POSITION_TYPE',
 'CLNT_SALARY_VALUE',
 'CLNT_SETUP_TENOR',
 'CLNT_TRUST_RELATION',
 'CR_PROD_CNT_CC',
 'CR_PROD_CNT_CCFP',
 'CR_PROD_CNT_IL',
 'CR_PROD_CNT_PIL',
 'CR_PROD_CNT_TOVR',
 'CR_PROD_CNT_VCU',
 'PACK',
 'TARGET']

In [10]:
for j in collumns:
  if final_dataset[j].dtype == object:
    final_dataset[j] = final_dataset[j].str.lower()

In [11]:
list(final_dataset.APP_COMP_TYPE.unique())

[nan, 'private', 'state', 'ip', 'inter']

In [12]:
for k in collumns:
  if k != 'CLNT_JOB_POSITION':
    if final_dataset[k].dtype == object:
      print(k)
      print(list(final_dataset[k].unique()))

APP_CAR
[nan, 'n', 'y']
APP_COMP_TYPE
[nan, 'private', 'state', 'ip', 'inter']
APP_DRIVING_LICENSE
[nan, 'y', 'n']
APP_EDUCATION
[nan, 's', 'hh', 'h', 'ss', 'uh', 'a', 'i', 'us', 'e', 'hi', 'av', 'ac']
APP_EMP_TYPE
[nan, 'private', 'state', 'ip', 'inter']
APP_KIND_OF_PROP_HABITATION
[nan, 'so', 'rent', 'other', 'jo', 'nprivat']
APP_MARITAL_STATUS
[nan, 'd', 'm', 'v', 't', 'n', ' ', 'w', 'c']
APP_POSITION_TYPE
[nan, 'specialist', 'self_empl', 'manager', 'top_manager']
APP_TRAVEL_PASS
[nan, 'n', 'y']
CLNT_JOB_POSITION_TYPE
[nan, 'specialist', 'self_empl', 'manager', 'top_manager']
CLNT_TRUST_RELATION
[nan, 'mother', 'brother', 'friend', 'sister', 'other', 'relative', 'daughter', 'son', 'father', 'близкий ро', 'друг', 'отец', 'сестра', 'сын', 'мать', 'муж', 'брат', 'дальний ро', 'дочь', 'жена']
PACK
['k01', '102', '105', 'o01', '103', '101', '107', '301', '104', '108', '109', 'm01']

In [13]:
print(list(final_dataset.CLNT_TRUST_RELATION.unique()))

[nan, 'mother', 'brother', 'friend', 'sister', 'other', 'relative', 'daughter', 'son', 'father', 'близкий ро', 'друг', 'отец', 'сестра', 'сын', 'мать', 'муж', 'брат', 'дальний ро', 'дочь', 'жена']

In [14]:
final_dataset.CLNT_TRUST_RELATION.replace('mother','мать',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('brother','брат',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('friend','друг',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('sister','сестра',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('other','другое',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('relative','родственник',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('daughter','дочь',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('son','сын',inplace=True)
final_dataset.CLNT_TRUST_RELATION.replace('father','отец',inplace=True)

In [15]:
print(list(final_dataset.CLNT_TRUST_RELATION.unique()))

[nan, 'мать', 'брат', 'друг', 'сестра', 'другое', 'родственник', 'дочь', 'сын', 'отец', 'близкий ро', 'муж', 'дальний ро', 'жена']

In [16]:
final_dataset.replace(' ', np.nan)

,ID,CNT_ACCEPTS_MTP,CNT_ACCEPTS_TK,PRC_ACCEPTS_A_AMOBILE,PRC_ACCEPTS_A_ATM,PRC_ACCEPTS_A_EMAIL_LINK,PRC_ACCEPTS_A_MTP,PRC_ACCEPTS_A_POS,PRC_ACCEPTS_A_TK,PRC_ACCEPTS_MTP,...,CLNT_SETUP_TENOR,CLNT_TRUST_RELATION,CR_PROD_CNT_CC,CR_PROD_CNT_CCFP,CR_PROD_CNT_IL,CR_PROD_CNT_PIL,CR_PROD_CNT_TOVR,CR_PROD_CNT_VCU,PACK,TARGET
179094,146841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.593023,NaN,0,0,0,0,0,0,k01,0
5351,146842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.587647,NaN,0,0,0,0,0,0,102,0
206996,146843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.587647,NaN,0,0,0,0,0,0,102,0
145569,146844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,k01,0
329776,146845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583333,NaN,0,0,0,0,0,0,102,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352062,590822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,2,0,104,0
255813,590823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.963872,NaN,0,0,0,0,0,0,104,0
233095,590825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,0,0,k01,0
353508,590826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.966560,NaN,0,0,0,0,1,0,o01,0
330689,590828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.961184,сестра,0,0,0,0,1,0,k01,1

In [19]:
x = str(123456789)
for w in collumns:
  if w != 'PACK':
    if x in final_dataset[w]:
      print(final_dataset[w])